body {
    /*background: url("../img/A.png") no-repeat center ;
    background-size: cover; */
   /* background-image: url("../img/A.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;*/
    background: url("../img/1920x1920.png") center;
    background-size: cover;
}

.navbar {
    background: none; 
}
.nav-link {
    font-weight: bold;
    color: #000;
}

.nav-item {
    text-align: right;
}

.dropdown-menu {
    background: none;
}

.site-footer {
    background-color: teal;
    padding: 20px 0;
}

.btn-round {
    width: 90%;
    border-radius:  20px;
}
